.character-section{
    padding-top: 15vh;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}
.character-box{
    width: 162px;
    height: 162px;
    border-radius: 50%;
    overflow: hidden;
    transition: 500ms;
    margin-top: 50px;
    box-shadow: inset 0px 0px 50px 25px rgba(255, 255, 255, 0.192);

}
.character-box:hover{
    transform: scale(1.3);
}
.character-box img{
    width: 100%;
    height: 100%;
}
.character-box:nth-child(odd){
    background-color:greenyellow;
}
.character-box:nth-child(even){
    background-color: orangered;
}
.character-box:nth-child(4),
.character-box:nth-child(9),
.character-box:nth-child(13),
.character-box:nth-child(20),
.character-box:nth-child(30),
.character-box:nth-child(35){
    background-color: aqua;
}
.character-box:nth-child(12){
    background-color: yellow;
}
.character-box:nth-child(7),
.character-box:nth-child(15),
.character-box:nth-child(20),
.character-box:nth-child(26){
    background-color: brown;
}
.character-box:nth-child(5){
    background-color: rebeccapurple;
}
.character-box:first-child{
    background-color: orange;
}
.character-box:last-child{
    background-color: green;
}